<div class="header icon-text">
	<button mat-raised-button class="padding-button" (click)="create()">
		<mat-icon>add</mat-icon>Create
	</button>
	<mat-form-field class="padding">
		<input matInput placeholder="Filter" type="text" [(ngModel)]="filterValue" (keyup)="applyFilter(filterValue)">
		<button mat-button *ngIf="filterValue" matSuffix mat-icon-button aria-label="Clear"
			(click)="applyFilter(filterValue='')">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</div>

<div class="container mat-elevation-z8">
	<mat-table [dataSource]="dataSource" matSort>

		<!-- Name Column -->
		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
		</ng-container>

		<!-- Class Column -->
		<ng-container matColumnDef="class">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Class </mat-header-cell>
			<mat-cell *matCellDef="let element" [style.color]="element.class"> {{element.class}} </mat-cell>
		</ng-container>

		<!-- CIR Column -->
		<ng-container matColumnDef="cir">
			<mat-header-cell *matHeaderCellDef mat-sort-header> CIR </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.cir}} </mat-cell>
		</ng-container>

		<!-- CBS Column -->
		<ng-container matColumnDef="cbs">
			<mat-header-cell *matHeaderCellDef mat-sort-header> CBS </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.cbs}} </mat-cell>
		</ng-container>

		<!-- Queue Column -->
		<ng-container matColumnDef="queue">
			<mat-header-cell *matHeaderCellDef mat-sort-header> Queue </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.queue}} </mat-cell>
		</ng-container>

		<!-- Action Column -->
		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
			<mat-cell *matCellDef="let element">
				<button mat-icon-button matTooltip="Click to Edit" class="iconbutton" color="primary"
					(click)="edit()">
					<mat-icon>edit</mat-icon>
				</button>
				<button mat-icon-button matTooltip="Click to Delete" class="iconbutton" color="warn"
					(click)="delete(element)">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;">
		</mat-row>
	</mat-table>

	<mat-paginator [pageSizeOptions]="[10, 20, 30, 50]"></mat-paginator>
</div>
<router-outlet></router-outlet>